<div >
    <form (submit)="addBudgetEntry()" id="AddBudgetForm">
        <input
            type="number"
            name="inputAmount"
            placeholder="Amount..."
            class="budget-input-amount"
            [(ngModel)]="inputAmount"
        />
        <input 
            type="text" 
            name="inputbudget"
            placeholder="Enter description..."
            class="budget-input-description"
            [(ngModel)]="inputDescription"            
        /> 
        <input 
            type="date"
            name="inputBudgetDate"
            class="buget-input-date"
            [(ngModel)]="inputBudgetDate"
        />     
        <input type="submit" value="Add Entry" class="budget-submit"/>
    </form>
</div>

<div class="remainingBudget">
    £{{remainingBudget}}
</div>

<div class="budgetLists">
    <div class="budgetList">
        <h3 class="incomeHeadline">Income</h3>
        <div class="budget-list">
            <div  *ngFor="let budget of budgetEntriesIncome; let i = index;" 
                class="budget {{ (budget.completed ? 'done' : '') }}">            
                <div class="amount" >£{{budget.amount}}</div>
                <div class="description" >{{budget.description}}</div>
                <button class="btn delete" (click)="removeBudgetEntry(budget.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="budgetList">
        <h3 class="expensesHeadline">Expenses</h3>
        <div class="budget-list">
            <div  *ngFor="let budget of budgetEntriesExpenses; let i = index;" 
                class="budget {{ (budget.completed ? 'done' : '') }}">            
                <div class="content" >£{{budget.amount}}</div>
                <div class="content" >{{budget.description}}</div>
                <button class="btn delete" (click)="removeBudgetEntry(budget.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

</div>