<div>
    <form (submit)="addBudgetEntry()" id="AddBudgetForm" [hidden]="!showInputForm">
        <div class="input">
            <label for="inputAmount">Amount</label>
            <input type="number" name="inputAmount" placeholder="Amount..." class="budget-input-amount"
                [(ngModel)]="inputAmount" />
        </div>
        <div class="input">
            <label for="inputbudget">Description</label>
            <input type="text" name="inputbudget" placeholder="Enter description..." class="budget-input-description"
                [(ngModel)]="inputDescription" />
        </div>
        <div class="input">
            <label for="inputBudgetDate">Date</label>
            <input type="date" name="inputBudgetDate" class="buget-input-date" [(ngModel)]="inputBudgetDate" />
        </div>
        <div class="input">
            <label for="repeatingSetting">Repeat every... </label>
            <select name="repeatingSetting" class="repeat-intervall" [(ngModel)]="inputRepetitionType">
                <option value="0">Don't Repeat</option>
                <option value="1">Day</option>
                <option value="2">Week</option>
                <option value="3">Month</option>
                <option value="4">Year</option>
            </select>
        </div>
        <input type="submit" value="Add Entry" class="budget-submit" />
    </form>
    <div class="button-bar">
        <button class="btn toggle" (click)="toggleshowInputForm()">
            <span>{{showInputForm ? 'Hide' : "Show"}} Form </span>
            <svg width="16" height="16" fill="currentColor" [class]="showInputForm ? 'reduceButton' : 'expandButton'"
                viewBox="0 0 16 16">
            </svg>
        </button>
    </div>
</div>

<div class="remainingBudget">
    <span>
        <div class="currency">{{currency}}</div>{{remainingBudget}}
    </span>
    <div>
        <label for="budgetSelectorYear">Year</label>
        <select name="budgetSelctorYear" class="budget-selector" [(ngModel)]="filterYear" (change)="LoadBudget()">
            <option value="2021">2021</option>
            <option value="2022">2022</option>
        </select>
        <label for="budgetSelectorMonth">Month</label>
        <select name="budgetSelctorMonth" class="budget-selector" [(ngModel)]="filterMonth" (change)="LoadBudget()">
            <option value="0">January</option>
            <option value="1">February</option>
            <option value="2">March</option>
            <option value="3">April</option>
            <option value="4">May</option>
            <option value="5">June</option>
            <option value="6">July</option>
            <option value="7">August</option>
            <option value="8">september</option>
            <option value="9">October</option>
            <option value="10">November</option>
            <option value="11">December</option>
        </select>
    </div>

</div>

<div class="budgetLists">
    <div class="budgetList">
        <h3 class="incomeHeadline">Income (<div class="currency">{{currency}}</div>{{sumIncome}})</h3>
        <div class="budget-list">
            <div *ngFor="let budget of budgetEntriesIncome; let i = index;"
                class="budget {{ (budget.completed ? 'done' : '') }}">
                <div [hidden]="budget.isEditShow" class="content">
                    <span>
                        <div class="currency">{{currency}}</div>{{budget.amount}}
                    </span>
                    <span>{{budget.description}}</span>
                </div>

                <div [hidden]="!budget.isEditShow" class="content-edit">
                    <div class="edit-input">
                        <label for="editAmount">Amount</label>
                        <input name="editAmount" type="number" [(ngModel)]="budget.amount" />
                    </div>

                    <div class="edit-input">
                        <label for="editDescription">Description</label>
                        <input name="editDescription" type="text" [(ngModel)]="budget.description" />
                    </div>

                    <div class="edit-input">
                        <label for="editDate">Date</label>
                        <input name="editDate" type="date" [(ngModel)]="budget.budgetDate" />
                    </div>
                    <div class="edit-input">
                        <label for="editRepetition">Repeat every... </label>
                        <select name="editRepetition" class="repeat-intervall" [(ngModel)]="budget.repetitionType">
                            <option value="0">Don't Repeat</option>
                            <option value="1">Day</option>
                            <option value="2">Week</option>
                            <option value="3">Month</option>
                            <option value="4">Year</option>
                        </select>
                    </div>
                </div>

                <button [hidden]="budget.isEditShow" class="btn" (click)="toggleEditDisplay(budget)">
                    <svg width="16" height="16" fill="currentColor" class="editButton" viewBox="0 0 16 16">
                    </svg>
                </button>
                <button [hidden]="!budget.isEditShow" class="btn" (click)="toggleEditDisplay(budget)">
                    <svg width="16" height="16" fill="currentColor" class="updateButton" viewBox="0 0 16 16">
                    </svg>
                </button>
                <button [hidden]="!budget.isEditShow" class="btn" (click)="toggleEditDisplay(budget)">
                    <svg width="16" height="16" fill="currentColor" class="closeButton" viewBox="0 0 16 16">
                    </svg>
                </button>
                <button class="btn delete" (click)="removeBudgetEntry(budget.id)">
                    <svg width="16" height="16" fill="currentColor" class="deleteButton" viewBox="0 0 16 16">
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="budgetList">
        <h3 class="expensesHeadline">Expenses (<div class="currency">{{currency}}</div>{{sumExpenses}})</h3>
        <div class="budget-list">
            <div *ngFor="let budget of budgetEntriesExpenses; let i = index;"
                class="budget {{ (budget.completed ? 'done' : '') }}">
                <div [hidden]="budget.isEditShow" class="content">
                    <span>
                        <div class="currency">{{currency}}</div>{{budget.amount * -1}}
                    </span>
                    <span>{{budget.description}}</span>
                </div>

                <div [hidden]="!budget.isEditShow" class="content-edit">
                    <div class="edit-input">
                        <label for="editAmount">Amount</label>
                        <input name="editAmount" type="number" [(ngModel)]="budget.amount" />
                    </div>

                    <div class="edit-input">
                        <label for="editDescription">Description</label>
                        <input name="editDescription" type="text" [(ngModel)]="budget.description" />
                    </div>

                    <div class="edit-input">
                        <label for="editDate">Date</label>
                        <input name="editDate" type="date" [(ngModel)]="budget.budgetDate" />
                    </div>
                    <div class="edit-input">
                        <label for="editRepetition">Repeat every... </label>
                        <select name="editRepetition" class="repeat-intervall" [(ngModel)]="budget.repetitionType">
                            <option value="0">Don't Repeat</option>
                            <option value="1">Day</option>
                            <option value="2">Week</option>
                            <option value="3">Month</option>
                            <option value="4">Year</option>
                        </select>
                    </div>
                </div>

                <button [hidden]="budget.isEditShow" class="btn" (click)="toggleEditDisplay(budget)">
                    <svg width="16" height="16" fill="currentColor" class="editButton" viewBox="0 0 16 16">
                    </svg>
                </button>
                <button [hidden]="!budget.isEditShow" class="btn" (click)="toggleEditDisplay(budget)">
                    <svg width="16" height="16" fill="currentColor" class="updateButton" viewBox="0 0 16 16">
                    </svg>
                </button>
                <button [hidden]="!budget.isEditShow" class="btn" (click)="toggleEditDisplay(budget)">
                    <svg width="16" height="16" fill="currentColor" class="closeButton" viewBox="0 0 16 16">
                    </svg>
                </button>
                <button class="btn delete" (click)="removeBudgetEntry(budget.id)">
                    <svg width="16" height="16" fill="currentColor" class="deleteButton" viewBox="0 0 16 16">
                    </svg>
                </button>
            </div>
        </div>
    </div>

</div>