<div >
    <form (submit)="addBudgetEntry()" id="AddBudgetForm">
        <input
            type="number"
            name="inputAmount"
            placeholder="Amount..."
            class="budget-input-amount"
            [(ngModel)]="inputAmount"
        />
        <input 
            type="text" 
            name="inputbudget"
            placeholder="Enter description..."
            class="budget-input-description"
            [(ngModel)]="inputDescription"            
        /> 
        <input 
            type="date"
            name="inputBudgetDate"
            class="buget-input-date"
            [(ngModel)]="inputBudgetDate"
        />     
        <input type="submit" value="Add Entry" class="budget-submit"/>
    </form>
</div>

<div class="remainingBudget">
    <span>£{{remainingBudget}}</span>
    <div>
        <label for="budgetSelectorYear">Year</label>
        <select name="budgetSelctorYear" class="budget-selector" [(ngModel)]="filterYear" (change)="LoadBudget()">
            <option value="2021">2021</option>
            <option value="2022">2022</option>
        </select>    
        <label for="budgetSelectorMonth">Month</label>
        <select name="budgetSelctorMonth" class="budget-selector" [(ngModel)]="filterMonth" (change)="LoadBudget()">
            <option value="0">January</option>
            <option value="1">February</option>
            <option value="2">March</option>
            <option value="3">April</option>
            <option value="4">May</option>
            <option value="5">June</option>
            <option value="6">July</option>
            <option value="7">August</option>
            <option value="8">september</option>
            <option value="9">October</option>
            <option value="10">November</option>
            <option value="11">December</option>          
        </select>    
    </div>
    
</div>

<div class="budgetLists">
    <div class="budgetList">
        <h3 class="incomeHeadline">Income (£{{sumIncome}})</h3>
        <div class="budget-list">
            <div  *ngFor="let budget of budgetEntriesIncome; let i = index;" 
                class="budget {{ (budget.completed ? 'done' : '') }}">            
                <div [hidden]="budget.isEditShow" class="content">
                    <span>£{{budget.amount}}</span>
                    <span>{{budget.description}}</span>
                </div>

                <div [hidden]="!budget.isEditShow" class="content-edit">
                    <div class="edit-input">
                        <label for="editAmount">Amount</label>
                        <input name="editAmount" type="number" [(ngModel)]="budget.amount" />
                    </div>

                    <div class="edit-input">
                        <label for="editDescription">Description</label>
                        <input name="editDescription" type="text" [(ngModel)]="budget.description" />
                    </div>

                    <div class="edit-input">
                        <label for="editDate">Date</label>
                        <input name="editDate" type="date" [(ngModel)]="budget.budgetDate"/>
                    </div>
                </div>

                <button [hidden]="budget.isEditShow" class="btn" (click)="toggleEditDisplay(budget)">
                    <svg width="16" height="16" fill="currentColor" class="editButton" viewBox="0 0 16 16">                    
                    </svg>
                </button>
                <button [hidden]="!budget.isEditShow" class="btn" (click)="toggleEditDisplay(budget)">
                    <svg width="16" height="16" fill="currentColor" class="updateButton" viewBox="0 0 16 16">                    
                    </svg>
                </button>
                <button [hidden]="!budget.isEditShow" class="btn" (click)="toggleEditDisplay(budget)">
                    <span>X</span>
                </button>
                <button class="btn delete" (click)="removeBudgetEntry(budget.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

    <div class="budgetList">
        <h3 class="expensesHeadline">Expenses (£{{sumExpenses}})</h3>
        <div class="budget-list">
            <div  *ngFor="let budget of budgetEntriesExpenses; let i = index;" 
                class="budget {{ (budget.completed ? 'done' : '') }}">            
                <div [hidden]="budget.isEditShow" class="content">
                    <span>£{{budget.amount}}</span>
                    <span>{{budget.description}}</span>
                </div>

                <div [hidden]="!budget.isEditShow" class="content-edit">
                    <div class="edit-input">
                        <label for="editAmount">Amount</label>
                        <input name="editAmount" type="number" [(ngModel)]="budget.amount" />
                    </div>

                    <div class="edit-input">
                        <label for="editDescription">Description</label>
                        <input name="editDescription" type="text" [(ngModel)]="budget.description" />
                    </div>

                    <div class="edit-input">
                        <label for="editDate">Date</label>
                        <input name="editDate" type="date" [(ngModel)]="budget.budgetDate"/>
                    </div>
                </div>

                <button [hidden]="budget.isEditShow" class="btn" (click)="toggleEditDisplay(budget)">
                    <svg width="16" height="16" fill="currentColor" class="editButton" viewBox="0 0 16 16">                    
                    </svg>
                </button>
                <button [hidden]="!budget.isEditShow" class="btn" (click)="toggleEditDisplay(budget)">
                    <svg width="16" height="16" fill="currentColor" class="updateButton" viewBox="0 0 16 16">                    
                    </svg>
                </button>
                <button [hidden]="!budget.isEditShow" class="btn" (click)="toggleEditDisplay(budget)">
                    <span>X</span>
                </button>
                <button class="btn delete" (click)="removeBudgetEntry(budget.id)">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </button>
            </div>
        </div>
    </div>

</div>