.dashboard-widgets {
  display: flex;
  flex-direction: row;
}

.todo-list,
.budget-overview {
  border: 1px solid black;
  border-radius: 5px;
  background-color: var(--light);
  width: 30%;
  min-height: 200px;
  margin: 10px;
}

.todo-list h3,
.budget-overview h3 {
  font-weight: bolder;
  background-color: var(--dark);
  color: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.todo-entry {
  padding: 5px;
}

.important {
  color: red;
  padding-right: 10px;
}
