<div class="week">
    <div class="day" *ngFor="let day of week; let i = index;">
        <h3>{{day.weekDayName}}</h3>
        <div class="meals">
            <div class="meal" *ngFor="let meal of day.meals">
                <h3>{{meal.mealName}}</h3>
                <div class="meal-content">
                    <small>{{meal.comment}}</small>
                    <span class="fi fi-rr-alarm-clock"> {{meal.duration | date: 'H'}}:{{meal.duration | date: 'mm'}}</span>
                </div>
            </div>
        </div>
        <div class="comment">
            <h3>Comment</h3>
            <small>{{day.comment}}</small>
            <div class="buttonBar">
                <button name="toggleEditButton" class="btn" (click)="editMealPlanDay(day)">
                    <svg width="16" height="16" fill="currentColor" class="editButton" viewBox="0 0 16 16">
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>