/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: sans-serif;
}

:root {
    --dark: #0B2545;
    --light: #EEF4ED;
    --middle: #8DA9C4;    
}

.editParentNote {
    display: flex;
    flex-direction: row;  
}

.addButton {
    color: var(--dark);
    background-image: url('../src/app/icons/fi-rr-plus-small.svg');
}

.editButton {
    color: var(--dark);
    background-image: url('../src/app/icons/fi-rr-pencil.svg');
}

.updateButton {
    color: var(--dark);
    background-image: url('../src/app/icons/fi-rr-check.svg');
}

.closeButton {
    color: var(--dark);
    background-image: url('../src/app/icons/fi-rr-cross-small.svg');
}

.deleteButton {
    color: var(--dark);
    background-image: url('../src/app/icons/fi-rr-trash.svg');
}

.expandButton {
    color: var(--dark);
    background-image: url('../src/app/icons/fi-rr-angle-down.svg');
}

.reduceButton {
    color: var(--dark);
    background-image: url('../src/app/icons/fi-rr-angle-up.svg');
}