
.todo-list {
    padding-top: 10px;
    width: 80%;
}

.todo {
    display: flex;
    align-content: space-between;
    padding: 10px 15px;
    background-color: var(--light);
    border-bottom: 1px solid var(--light);
}

.todo:nth-child(odd)  {
    background-color: var(--middle);;
}

.todo:last-of-type {
    border-bottom:  0;
}

.todo .id {
    flex: 1 1 50px;
}

.todo .content {
    flex: 1 1 100%;
}

.todo.done .content {
    text-decoration: line-through;
}

.todo-input {
    display: block;
    width: 80%;
    height: 40px;    
    appearance: none;
    border: none;
    background-color: var(--light);
    font-size: 20px;
    outline: none;
    padding-left: 5px;
}

.todo-checkbox {
    width: 10%;
    padding: 10px 15px;    
}

.todo-submit {
    display: block;
    width: 100%;
    height: 40px;
    max-width: 200px;
    appearance: none;
    border: none;
    outline: none;
    background: none;

    background-color: var(--dark);
    color: #FFF;
    
    font-size: 18px;
    font-weight: 700;
}

.editButton {
    background-image: url('../icons/edit.svg');
}

.updateButton {
    background-image: url('../icons/check.svg');
}

.editImportant {
    margin: 10px 0;
}

.editContent {
    padding-left: 5px;
}

.important {
    color: red;
    padding-right: 10px;
}

#AddToDoForm {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--middle);
    padding: 10px;
    margin-bottom: 20px;
}

.todo-content {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: flex-start;
}

.todo-filters {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--dark);
    padding: 5px;
    width: 20%;
    margin-right: 10px;   
}

.sortingList {
    width: 50%;
    height: 40px;    
    appearance: none;
    border: none;
    background-color: var(--light);
    font-size: 18px;
    outline: none;
    padding-left: 5px;
}

.filter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5px;
    align-items: center;
}

.filter-todo-input {
    display: block;   
    height: 40px;    
    width: 99%;
    appearance: none;
    border: none;
    background-color: var(--light);
    font-size: 20px;
    outline: none;
    margin-bottom: 5px;
    padding-left: 5px;
}

.note-edit-form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.edit-note-input {
    padding: 5px;
}

.edit-note-input label {
    width: 120px;
}

.repeat-intervall {
    background: white;
}

.buttonBar {
    display: flex;
    flex-direction: row;  
}

@media only screen and (max-width: 1024px) {
    .todo-list {
        width: 70%;
    }
}

@media only screen and (max-width: 768px) {
    .todo-list {
        width: 100%;
    }
}