<div class="noteInputForm">
    <form (submit)="addNote()" id="AddNoteForm" *ngIf="showInputForm">
        <input type="text" name="inputNote" placeholder="Enter Title..." class="note-input-title"
            [(ngModel)]="inputNoteTitle" />
        <textarea name="inputNoteTitle" [(ngModel)]="inputNoteText" class="note-input-text">
        </textarea>
        <div class="parent-note">
            <label for="parentNote">Parent Note</label>
            <select name="parentNote" class="note-input-parent" [(ngModel)]="inputNoteParent">
                <option value="-1">No Parent Note</option>
                <option *ngFor="let note of parentNotes; let i = index;" [value]="note.id">{{note.title}}</option>
            </select>
        </div>
        <div class="edit-note-input">
            <label for="categoryFilter">Category</label>
            <select name="categoryFilter" class="repeat-intervall" [(ngModel)]="inputNoteCategory">
                <option value="0">No Category</option>
                <option *ngFor="let category of categoryList" value="{{category.id}}">{{category.name}}
                </option>
            </select>
        </div>
        <input type="submit" value="Add Note" class="note-submit" />
    </form>
    <div class="category-filter" *ngIf="showCategoryFilter">
        <div class="categorie-list" *ngFor="let category of categoryList">
            <div class="filter">
                <div class="colour-sample" [ngStyle]="{'background-color': category.colour}"></div>
                <label>{{category.name}}</label>
                <input name="categoryFilter" type="checkbox" class="category-filter-checkbox" [(ngModel)]="category.isFilteredBy"
                    (change)="FilterByCategory()" />
            </div>
        </div>
    </div>

    <div class="button-bar">
        <button class="btn toggle" (click)="toggleshowInputForm()">
            <span>Show Form </span>
            <svg width="16" height="16" fill="currentColor" [class]="showInputForm ? 'reduceButton' : 'expandButton'"
                viewBox="0 0 16 16">
            </svg>
        </button>
        <button class="btn toggle" (click)="toggleshowCategoryFilter()">
            <span>Show Category Filter </span>
            <svg width="16" height="16" fill="currentColor" [class]="showInputForm ? 'reduceButton' : 'expandButton'"
                viewBox="0 0 16 16">
            </svg>
        </button>
    </div>
</div>

<div class="NotesHeadline" *ngIf="allNotes">
    <span (click)="FilterList(-1)">Notes ({{allNotes.length}})</span>
    <div class="SearchForm">
        <span>Search: </span>
        <input type="text" class="searchInput" [(ngModel)]="searchTerm" (blur)="FilterList(-1)" />
    </div>
</div>

<div class="notes-area">
    <div class="notes-tree">
        <div class="tree-note" *ngFor="let note of allNotes; let i = index;">
            <div class="parent" *ngIf="!note.parentId" (click)="FilterList(note.id)">
                {{note.title}}
            </div>
            <div class="child" *ngIf="note.parentId > 0">
                --- {{note.title}}
            </div>
        </div>
    </div>

    <div class="notes-list">
        <div class="note" *ngFor="let note of filteredNotes; let i = index;">

            <div [hidden]="note.isEditShow" class="note-entry">
                <h3 [ngStyle]="{'background-color': note.categoryColour}">{{note.title}}</h3>
                <div [hidden]="note.expanded" class="NoteText" (click)="expandNote(note)">{{note.description}}</div>
                <div [hidden]="!note.expanded" (click)="expandNote(note)">{{note.description}}</div>
            </div>

            <div class="editForm" [hidden]="!note.isEditShow">
                <input class="editContent" type="text" [(ngModel)]="note.title" />
                <textarea class="editContent" [(ngModel)]="note.description" rows="10"></textarea>
                <div class="parent-note">
                    <label for="editParentNote">Parent Note</label>
                    <select name="parentNote" class="note-input-parent" [(ngModel)]="note.parentId">
                        <option value="">No Parent Note</option>
                        <option *ngFor="let note of parentNotes; let i = index;" [value]="note.id">{{note.title}}
                        </option>
                    </select>
                </div>
                <div class="edit-note-input">
                    <label for="category">Category</label>
                    <select name="category" class="repeat-intervall" [(ngModel)]="note.categoryId">
                        <option value="0">No Category</option>
                        <option *ngFor="let category of categoryList" value="{{category.id}}">{{category.name}}
                        </option>
                    </select>
                </div>
            </div>

            <div class="buttonBar">
                <button [hidden]="note.isEditShow" class="btn" (click)="toggleEditDisplay(note)">
                    <svg width="16" height="16" fill="currentColor" class="editButton" viewBox="0 0 16 16">
                    </svg>
                </button>
                <button [hidden]="!note.isEditShow" class="btn" (click)="toggleEditDisplay(note)">
                    <svg width="16" height="16" fill="currentColor" class="updateButton" viewBox="0 0 16 16">
                    </svg>
                </button>
                <button [hidden]="!note.isEditShow" class="btn" (click)="toggleEditDisplay(note)">
                    <svg width="16" height="16" fill="currentColor" class="closeButton" viewBox="0 0 16 16">
                    </svg>
                </button>
                <button class="btn delete" (click)="removeNote(note.id)">
                    <svg width="16" height="16" fill="currentColor" class="deleteButton" viewBox="0 0 16 16">
                    </svg>
                </button>
            </div>
        </div>
    </div>
</div>