<div class="noteInputForm">
    <form (submit)="addNote()" id="AddNoteForm">
        <input 
            type="text" 
            name="inputNote"
            placeholder="Enter Title..."
            class="note-input-title"
            [(ngModel)]="inputNoteTitle"            
        />
        <textarea 
            name="inputNoteTitle" 
            [(ngModel)]="inputNoteText"
            class="note-input-text">

        </textarea>
        <input type="submit" value="Add Note" class="note-submit"/>
    </form>
</div>

<div class="NotesHeadline">Notes {{notes.length}}</div>

<div class="NotesList">
    <div class="Note" *ngFor="let note of notes; let i = index;">
        
        <div [hidden]="isEditShow">
            <div class="NoteTitle">{{note.title}}</div>
            <div [hidden]="expanded" class="NoteText" (click)="expandNote()">{{note.description}}</div>
            <div [hidden]="!expanded" (click)="expandNote()">{{note.description}}</div>  
        </div>

        <div class="editForm">
            <input class="editContent" [hidden]="!isEditShow" type="text" [(ngModel)]="note.title"/>
            <textarea class="editContent" [hidden]="!isEditShow" [(ngModel)]="note.description" rows="10"></textarea>           
        </div>

        <div class="buttonBar">
            <button [hidden]="isEditShow" class="btn" (click)="toggleEditDisplay(note)">
                <svg width="16" height="16" fill="currentColor" class="editButton" viewBox="0 0 16 16">                    
                </svg>
            </button>
            <button [hidden]="!isEditShow" class="btn" (click)="toggleEditDisplay(note)">
                <svg width="16" height="16" fill="currentColor" class="updateButton" viewBox="0 0 16 16">                    
                </svg>
            </button>
            <button class="btn delete" (click)="removeNote(note.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </button>
        </div>
    </div>
</div>